{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask with Views</title>
    <script src="{{ url_for('static', filename='js/tabs.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='js/qr_code.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/delete_ticket.js')}}"></script>
    
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <h3>{{ message }}</h3>

    <!-- Tabs navigation -->
    <div class="tabs">
        <button class="tablinks" onclick="openTab(event, 'otherEvents')">Browse Events</button>
        <button class="tablinks" onclick="openTab(event, 'ticket-list')">Your Tickets</button>
        <button class="tablinks" onclick="openTab(event, 'old-tickets')">Used Tickets</button>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    


    <!-- Tab content -->
    <div id="otherEvents" class="tabcontent">
        <div class="d-flex align-items-center justify-content-left">
            <h4>Other Events</h4>
            <button class="btn btn-primary" onclick="toggleFilters()">Filters</button>
        </div>
        <div id="filter-container" class="">
            <input type="text" class="form-control" placeholder="Search for events, location, description..." aria-label="Search" id="searchBar">
            
            <input type="date" class="form-control" placeholder="Select date" aria-label="Date Picker" id="datePicker">
        </div>
            <div id="events-section">
                <div class="row">
                    {% for event in future_events %}
                    <div class="event col-md-4 d-flex align-items-stretch" >
                        <div class="card" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ event.event_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ event.date }} {{ event.time }}</h6>
                                <p class="card-text" id="description">{{ event.event_description }}</p>
                                <p class="card-text">£{{ event.price}}</p>
                                <p class="card-text" id="location">Location: {{ event.location }}</p>
                                <div class="d-flex justify-content-left mt-auto">
                                    <a href="/event/{{ event.id }}" class="btn btn-primary">View Event</a>
                                    <a href="/event/{{ event.id }}/buy" class="btn btn-success">Buy Ticket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 and not loop.last %}
                    </div><div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    </div>

    <div id="ticket-list" class="tabcontent">
        <h4>Your Tickets</h4>
        <div class="row">
            {% for ticket in ticket_data %}
            <div class="col-md-4 d-flex align-items-stretch active-ticket" >
                <div class="card ticket-card" id="card-{{ ticket.ticket_id }}" style="width: 18rem;">
                    <div class="delete-btn" onclick="deleteTicket({{ ticket.ticket_id }})">
                        &#128465; <!-- Recycling Bin Icon -->
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ ticket.event_name }}</h5>
                        <p class="card-text">{{ ticket.event_date }} at {{ ticket.event_time }}</p>
                        <p class="card-text">{{ ticket.event_description }}</p>
                        <p class="card-text">{{ ticket.event_location }}</p>
                        <div id="qr-{{ ticket.ticket_id }}" class="qr-code" style="display: flex; justify-content: center;"></div>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 and not loop.last %}
            </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="old-tickets" class="tabcontent">
        <h4>Your Used Tickets</h4>
        <div class="row">
            {% for ticket in used_tickets %}
            <div class="col-md-4 d-flex align-items-stretch used-ticket">
                <div class="card ticket-card-used" id="card-{{ ticket.id }}" style="width: 18rem;">
                    <div class="delete-btn" onclick="deleteTicket({{ ticket.id }})">
                        &#128465; <!-- Recycling Bin Icon -->
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ ticket.event.event_name }}</h5>
                        <p class="card-text">{{ ticket.event.date }} at {{ ticket.event.time }}</p>
                        <p class="card-text">{{ ticket.event.event_description }}</p>
                        <p class="card-text">{{ ticket.event.location }}</p>
                        <p class="card-text">Scanned at: {{ ticket.scanned_at }}</p> 
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 and not loop.last %}
            </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <script>
        // Pass ticket data from Flask to JavaScript
        var tickets = {{ ticket_data | tojson }};
        
        // Ensure the QR codes are generated when the page is fully loaded
        document.addEventListener("DOMContentLoaded", function() {
            initializeQRCodes();
        });
    </script>
    <script src="{{ url_for('static', filename='js/filters.js')}}"></script>
</body>
</html>
{% endblock %}
