{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask with Views</title>
    <script src="{{ url_for('static', filename='js/tabs.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='js/qr_code.js') }}" defer></script>
</head>
<body>
    <h1>{{ message }}</h1>

    <!-- Tabs navigation -->
    <div class="tabs">
        <button class="tablinks" onclick="openTab(event, 'otherEvents')">Browse Events</button>
        <button class="tablinks" onclick="openTab(event, 'ticket-list')">Your Tickets</button>
        <button class="tablinks" onclick="openTab(event, 'old-tickets')">Used Tickets</button>

    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Tab content -->
    <div id="otherEvents" class="tabcontent">
        <h2>Other Events</h2>
        <div class="row">
            {% for event in future_events %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card" style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ event.event_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ event.date }} {{ event.time }}</h6>
                        <p class="card-text">{{ event.event_description }}</p>
                        <p class="card-text">£{{ event.price}}</p>
                        <div class="d-flex justify-content-left mt-auto">
                            <a href="/event/{{ event.id }}" class="btn btn-primary">View Event</a>
                            <a href="/event/{{ event.id }}/buy" class="btn btn-success">Buy Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 and not loop.last %}
            </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="ticket-list" class="tabcontent">
        <h2>Your Tickets</h2>
        <div class="row">
            {% if ticket_data|length == 0 %}
            <p>No unused tickets</p>
            {% endif %}
            {% for ticket in ticket_data %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card ticket-card" id="card-{{ ticket.ticket_id }}" style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ ticket.event_name }}</h5>
                        <p class="card-text">{{ ticket.event_date }} at {{ ticket.event_time }}</p>
                        <p class="card-text">{{ ticket.event_description }}</p>
                        <p class="card-text">{{ ticket.event_location }}</p>
                        <div id="qr-{{ ticket.ticket_id }}" class="qr-code"></div>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 and not loop.last %}
            </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="old-tickets" class="tabcontent">
        <h2>Your Tickets</h2>
        <div class="row">
            {% if ticket_data|length == 0 %}
            <p>No unused tickets</p>
            {% endif %}
            {% for ticket in used_tickets %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card ticket-card" id="card-{{ ticket.ticket_id }}" style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ ticket.event.event_name }}</h5>
                        <p class="card-text">{{ ticket.event.date }} at {{ ticket.event.time }}</p>
                        <p class="card-text">{{ ticket.event.event_description }}</p>
                        <p class="card-text">{{ ticket.event.location }}</p>
                        
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 and not loop.last %}
            </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <script>
        // Pass ticket data from Flask to JavaScript
        var tickets = {{ ticket_data | tojson }};
        
        // Ensure the QR codes are generated when the page is fully loaded
        document.addEventListener("DOMContentLoaded", function() {
            initializeQRCodes();
        });
    </script>
</body>
</html>
{% endblock %}
