.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar a {
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #6a0dad, #9b59b6);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff !important;
}

.card{
    color:#000;
}

.btn{
    background-color: #6a0dad !important;
    border-color: #fff !important;
}