.tabs {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tablinks {
    background-color: #f1f1f1;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    width: 33%;
    text-align: center;
    transition: 0.3s;
}

a.tablinks{
    color: black;
    text-decoration: none;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-color: #fff !important;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 1.1em;
    color: gray;
    margin-bottom: 10px;
}

.btn {
    margin:5px;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}

.ticket-card {
    position: relative;
}

#filter-container{
    padding-bottom: 5px;
    display: none;
    flex-direction: row;
    align-items: flex-start;
}

.hidden {
    display: none !important; 
}

.visible {
    display: block !important; 
}


