/* style.css */

body {
    font-family: Arial, sans-serif;
}

/* Style the tabs container */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Style the tab buttons */
.tablinks {
    background-color: #f1f1f1;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    width: 33%;
    text-align: center;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide all tab content by default */
.tabcontent {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}

/* Style for card elements */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 1.1em;
    color: gray;
    margin-bottom: 10px;
}

.btn {
    margin:5px;
}

/* Hide overflow when fullscreen */
body.fullscreen-mode {
    overflow: hidden;
}

/* Fullscreen styles for ticket card */
.fullscreen-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.fullscreen-card .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen-card .qr-code {
    width: 80%;
    height: auto;
    max-width: 500px;
    margin-top: 20px;
}

.fullscreen-card .btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1100;
}

.fullscreen-card .qr-code {
    width: 80%;
    height: auto;
    max-width: 500px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.fullscreen-card .qr-code canvas {
    width: 100% !important;
    height: auto !important;
}
